<script src="/javascript/contact.js"></script>
<script src="/javascript/homepage.js"></script>
<script src="/javascript/pay.js"></script>
<script src="/javascript/signin.js"></script>
<script src="/javascript/signup.js"></script>
</body>
</html>